* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #15141F;

}

.search_wrapper {
    padding-inline: 24px;
    padding-block: 24px;

    max-width: 550px;
    margin: auto;

    form {
        background: #211F30;
        height: 48px;

        border-radius: 20px;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: left;

        gap: 20px;

        flex-direction: row-reverse;

        button,
        input {
            background: transparent;
            border: none;

            display: grid;
        }

        input {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;

            letter-spacing: 0.01em;
            color: #BBBBBB;
            outline: none;
            width: 100%;

            ::placeholder {
                opacity: 0.5;
            }

        }

    }


}

.movie-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 20px;

    .list-item {
        display: grid;
        gap: 12px;
        grid-template-rows: 1fr 50px;

        img {

            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
            border-radius: 20px;

            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        div {
            font-family: "Comfortaa", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.02em;

            color: #FFFFFF;



        }
    }
}

.movie-opisanie {
    max-width: 550px;
    margin: auto;
    .kartinka {
        position: relative;
        height: 287px;


        .play {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }

        .nazad {
            position: absolute;
            top: 52px;
            left: 37px;

            background: transparent;
            border: none;
            cursor: pointer;
        }

        .black {
            position: absolute;
            inset: 0;

            background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 28.65%, rgba(0, 0, 0, 0) 64.06%, rgba(0, 0, 0, 0.8) 100%);

        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;




            object-fit: cover;

        }
    }


    .content {
        padding: 24px;

        h1 {


            font-family: "Comfortaa", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.02em;

            color: #FFFFFF;

            margin-bottom: 14px;

        }

        p {


            font-family: "Comfortaa", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.02em;

            color: #BCBCBC;


        }

        .time-wraper,
        .reliz-wraper {
            padding-bottom: 21px;
            margin-bottom: 16px;

            border-bottom: 0.2px solid #515151;
            display: flex;



        }

        .time-wraper {
            gap: 18px;

            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: #BCBCBC;

            .vrema,
            .reting {
                display: flex;
                align-items: center;
                gap: 6px;
            }

        }
        .reliz-wraper {
            gap: 47px;

            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.02em;

            color: #FFFFFF;

            text-wrap: nowrap;

            .month-year {
                margin-top: 12px;
            }

            .zhanr {

                .zhanr-knopki {
                    margin-top: 8px;
                    display: flex;
                    gap: 12px;
                    flex-wrap: wrap;
                    button {

                        background: rgba(250, 240, 202, 0.05);

                        backdrop-filter: blur(2.405px);

                        border-radius: 15px;
                        height: 25px;
                        padding-inline: 12px;

                        border: 0;

                        font-family: 'Comfortaa';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0.02em;

                        color: #BCBCBC;

                    }

                }

            }

        }

        .opisanie-wraper {
            margin-bottom: 25px;

            .opisnie {
                margin-bottom: 12px;

                font-family: 'Comfortaa';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.02em;

                color: #FFFFFF;
            }
        }
        .izbranoe button {
            background: rgba(250, 240, 202, 0.05);

                        backdrop-filter: blur(2.405px);

                        border-radius: 15px;
                        height: 25px;
                        padding-inline: 12px;

                        border: 0;

                        font-family: 'Comfortaa';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0.02em;

                        color: #BCBCBC;
        }

    }
}
.favorite-film{
    margin-top: 50px;
    h3{
 font-family: 'Comfortaa';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

letter-spacing: 0.02em;

color: #FFFFFF;

margin-bottom: 18px;

    }
}
